<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CatalogPageGenerator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="assets/bootstrap.growl.min.js"></script>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 35px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 35px;
            background-color: #f5f5f5;
        }

        .tab-content {
            padding: 15px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-book"></i> Catalog Page Generator
                <small style="font-size: 60%;"> Version 1.0.0-RELEASE</small>
            </a>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 60px;">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab"
                                                          data-toggle="tab">Allgemein</a></li>
                <li role="presentation"><a href="#house" aria-controls="house" role="tab" data-toggle="tab">Haus und
                    Region</a></li>
                <li role="presentation"><a href="#care" aria-controls="care" role="tab" data-toggle="tab">Betreuungsanbote</a>
                </li>
                <li role="presentation"><a href="#glance" aria-controls="glance" role="tab" data-toggle="tab">Auf einen
                    Blick</a></li>
                <li role="presentation"><a href="#season" aria-controls="season" role="tab" data-toggle="tab">Sasionzeiten
                    und Preise</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <form>
                        <div class="form-group">
                            <label for="number">Nummer</label>
                            <input type="text" class="form-control" id="number" placeholder="1">
                        </div>
                        <div class="form-group">
                            <label for="title">Quartiertitel</label>
                            <input type="text" class="form-control" id="title" placeholder="Gutshof Störtebeker">
                        </div>
                        <div class="form-group">
                            <label for="title">Region</label>
                            <input type="text" class="form-control" id="region" placeholder="Mecklenburg">
                        </div>
                        <div class="form-group">
                            <label for="slogan">Slogan</label>
                            <input type="text" class="form-control" id="slogan"
                                   placeholder="Gepflegter Gutshof mit Reitangebot an der Ostseeküste">
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="house">
                    <form>
                        <div class="form-group">
                            <label for="houseText">Text</label>
                            <textarea class="form-control" id="houseText"
                                      placeholder="Text über das Haus und die Region"></textarea>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="care">
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading">Für Babys (6 - 18 Monate):</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="babys">Angebote</label>
                            <textarea class="form-control" id="babys"
                                      placeholder="Beutreuungsangebote für Babys"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="babysExtends">Umfang</label>
                                    <input type="text" class="form-control" id="babysExtends"
                                           placeholder="12 Std/Woche">
                                </div>
                                <div class="form-group">
                                    <label for="babysPeriod">Zeitraum</label>
                                    <input type="text" class="form-control" id="babysPeriod"
                                           placeholder="14.05. - 09.07. und 27.08. - 17.09.">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Für Kleinkinder (18 Monate - 3 Jahre):</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="toddler">Angebote</label>
                            <textarea class="form-control" id="toddler"
                                      placeholder="Beutreuungsangebote für Kleinkinder"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="toddlerExtends">Umfang</label>
                                    <input type="text" class="form-control" id="toddlerExtends"
                                           placeholder="12 Std/Woche">
                                </div>
                                <div class="form-group">
                                    <label for="toddlerPeriod">Zeitraum</label>
                                    <input type="text" class="form-control" id="toddlerPeriod"
                                           placeholder="14.05. - 09.07. und 27.08. - 17.09.">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Für Vorschulkinder (4 - 7 Jahre):</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="preschool">Angebote</label>
                            <textarea class="form-control" id="preschool"
                                      placeholder="Beutreuungsangebote für Vorschulkinder"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="preschoolExtends">Umfang</label>
                                    <input type="text" class="form-control" id="preschoolExtends"
                                           placeholder="12 Std/Woche">
                                </div>
                                <div class="form-group">
                                    <label for="preschoolPeriod">Zeitraum</label>
                                    <input type="text" class="form-control" id="preschoolPeriod"
                                           placeholder="14.05. - 09.07. und 27.08. - 17.09.">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Für Kinder (8 - 11 Jahre):</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="children">Angebote</label>
                            <textarea class="form-control" id="children"
                                      placeholder="Beutreuungsangebote für Kinder"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="childrenExtends">Umfang</label>
                                    <input type="text" class="form-control" id="childrenExtends"
                                           placeholder="12 Std/Woche">
                                </div>
                                <div class="form-group">
                                    <label for="childrenPeriod">Zeitraum</label>
                                    <input type="text" class="form-control" id="childrenPeriod"
                                           placeholder="14.05. - 09.07. und 27.08. - 17.09.">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Für Jugendliche (12 - 16 Jahre):</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="teenager">Angebote</label>
                            <textarea class="form-control" id="teenager"
                                      placeholder="Beutreuungsangebote für Jugendliche"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="teenagerExtends">Umfang</label>
                                    <input type="text" class="form-control" id="teenagerExtends"
                                           placeholder="12 Std/Woche">
                                </div>
                                <div class="form-group">
                                    <label for="teenagerPeriod">Zeitraum</label>
                                    <input type="text" class="form-control" id="teenagerPeriod"
                                           placeholder="14.05. - 09.07. und 27.08. - 17.09.">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Das Besondere</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="nearby">Angebote</label>
                            <textarea class="form-control" id="nearby"
                                      placeholder="In der Nähe"></textarea>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="glance">
                    <form>
                        <div class="form-group">
                            <label for="foodAndBeverage">Essen und Trinken</label>
                            <textarea class="form-control" id="foodAndBeverage"
                                      placeholder="Text über Essen und Trinken"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="sourroundings">Umgebung</label>
                            <textarea class="form-control" id="sourroundings"
                                      placeholder="Text über die Umgebung"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="sport">Sport und Freizeit</label>
                            <textarea class="form-control" id="sport"
                                      placeholder="Text über Sport und Freizeit"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pets">Haustiere</label>
                            <textarea class="form-control" id="pets"
                                      placeholder="Text über Haustiere"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="travel">Anreise</label>
                            <textarea class="form-control" id="travel"
                                      placeholder="Text über die Anreise"></textarea>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane" id="season">
                    <div>
                        <button type="button" class="btn btn-default btn-small pull-right" onClick="newSeason();"><i
                                class="fa fa-plus"></i>
                            Neue Saison
                        </button>
                    </div>
                    <div style="padding-top: 50px;">
                        <form>

                            <table class="table table-condensed" id="seasonTable">
                                <!--<tr>-->
                                <!--<td><a href="#" id="season_01" data-type="text" data-url="" data-title="Name für Saison">Saison 1</a></td>-->
                                <!--<td><a href="#" id="season_01_text_01" data-type="text" data-url="" data-title="Name">Frühjahr</a></td>-->
                                <!--<td><a href="#" id="season_01_text_01_date" data-type="text" data-url="" data-title="Datum">06.09 - 11.10</a></td>-->
                                <!--</tr>-->
                            </table>

                            <div>
                                <button type="button" class="btn btn-default btn-small pull-right"
                                        onClick="newHouse();"><i class="fa fa-plus"></i>
                                    Neuer Haustyp
                                </button>
                            </div>

                            <table class="table table-condensed" id="houseTable">
                                <thead class="priceHead">
                                <tr class="priceHeadRow">
                                    <th>
                                        Typ
                                    </th>
                                    <th>
                                        Personen
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="priceBody">
                                <!--<tr>-->
                                <!--<td>Typ 1</td>-->
                                <!--<td>3 Pers.</td>-->
                                <!--<td>100€</td>-->
                                <!--<td>200€</td>-->
                                <!--</tr>-->
                                </tbody>

                            </table>

                            <div class="form-group">
                                <label for="priceStar">Sternchentext</label>
                            <textarea class="form-control" id="priceStar"
                                      placeholder="*Belegung mit weiteren Personen."></textarea>
                            </div>

                            <div class="form-group">
                                <label for="minimumStay">Mindestaufenthalt</label>
                                <input type="text" class="form-control" id="minimumStay"
                                       placeholder="4 Nächte">
                            </div>

                            <div class="form-group">
                                <label for="priceIncluded">Im Preis enthalten</label>
                            <textarea class="form-control" id="priceIncluded"
                                      placeholder="Übernachtung, Teilnahme an den Betreuungsangeboten, Nebenkosten außer Heizung (s. S. 12/13)"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="careOffers">Verpflegungsangebot:</label>
                            <textarea class="form-control" id="careOffers"
                                      placeholder="Hauseigenes Café/Restaurant."></textarea>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div style="margin-top: 50px; border-top: 1px solid #eee;">
                <form style="display: none;" id="pageForm" method="POST" action="/catalogPage/generate">
                    <textarea class="form-control" id="page" name="page"
                              placeholder="PageJSON"></textarea>
                </form>
                <button style="margin-top: 10px; margin-bottom: 10px;" onClick="submitForm(event)" type="button"
                        class="btn btn-primary pull-right">XML Erzeugen
                </button>

            </div>


        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted" style="margin-top: 9px;">Made with &hearts; by the <a
                href="http://atomfrede.github.io/shiny-adventure/">atomfrede</a> and <a
                href="http://andreasherting.de/">andy</p>
    </div>
</footer>
<script>
    var seasonCount = 0;
    var houseCount = 0;

    var seasonTextCount = {
        season_1: 0,
        season_2: 0,
        season_3: 0,
        season_4: 0,
        season_5: 0,
        season_6: 0,
        season_7: 0,
        season_8: 0,
        season_9: 0
    };

    //$.fn.editable.defaults.mode = 'inline';

    function newHouse() {
        houseCount++;

        var houseId = "house_" + houseCount;

        var firstPart = "<tr id='" + houseId + "' class='houseRow'>" +
                "<td><a href='#' id='" + houseId + "_type' data-type='text' data-url='' data-title='Name/Typ des Hauses'>Typ 1</a></td>" +
                "<td><a href='#' id='" + houseId + "_person' data-type='text' data-url='' data-title='Max. Anzahl Personen'>3 Personen</a></td>";

        var secondPart = "";

        for (var k = 1; k <= seasonCount; k++) {
            secondPart = secondPart +
                    "<td><a href='#' class='priceForSeason' id='" + houseId + "_season_" + k + "_price' data-type='text' data-url='' data-title='Preis'>100,–</a></td>";
        }

        $("#priceBody").append(firstPart +
                secondPart +
                "</tr>");

        $('#' + houseId + "_type").editable();
        $('#' + houseId + "_person").editable();
        $('.priceForSeason').editable();
    }

    function newSeason() {
        seasonCount++;
        var seasonId = "season_" + seasonCount;
        var subSeasonCount = _.get(seasonTextCount, seasonId);

        subSeasonCount++;

        _.set(seasonTextCount, seasonId, subSeasonCount);

        var seasonText = seasonId + "_text_" + subSeasonCount;
        var seasonDate = seasonText + "_date";

        //<a href="#" id="season_01_text_01_date" data-type="text" data-url="" data-title="Datum">06.09 - 11.10</a>
        $('#seasonTable').append("<tr class='season-row season-row-" + seasonCount + "'>" +
                "<td><a href='#' id='" + seasonId + "' data-type='text' data-url='' data-title='Name für Saison'>Saison " + seasonCount + " </a></td>" +
                "<td><a href='#' id='" + seasonText + "'data-type='text' data-url=''>z.B. Frühjahr</a></td>" +
                "<td><a href='#' id='" + seasonDate + "'data-type='text' data-url=''>1.1 - 31.12</a></td>" +
                "<td><button onClick='addSubSeason(" + seasonCount + ")' class='btn btn-primary btn-xs' type='button'><i class='fa fa-plus'></i></button>" +
                    //"<button class='btn btn-danger btn-xs' type='button'><i class='fa fa-minus'></i></button></td>" +
                "</tr>");

        $('#' + seasonId).editable();
        $('#' + seasonText).editable();
        $('#' + seasonDate).editable();

        $('.priceHeadRow').append("<th id='price-" + seasonId + "'>Saison " + seasonCount + " </th>");

        $('#' + seasonId).on('save', function (e, params) {
            var priceHead = $('#price-' + e.target.id);
            $(priceHead).html(params.newValue);

        });
    }

    function addSubSeason(season) {

        var seasonId = "season_" + season;
        var subSeasonCount = _.get(seasonTextCount, seasonId);

        subSeasonCount++;

        _.set(seasonTextCount, seasonId, subSeasonCount);

        var seasonText = seasonId + "_text_" + subSeasonCount;
        var seasonDate = seasonText + "_date";

        $('.season-row-' + season).after("<tr class='sub-season-" + season + "'>" +
                "<td></td>" +
                "<td><a href='#' id='" + seasonText + "' data-type='text' data-url=''>z.B. Frühjahr</a></td>" +
                "<td><a href='#' id='" + seasonDate + "' data-type='text' data-url=''>1.1. - 31.12</a></td>" +
                "<td></td>" +
                "</tr>");

        $('#' + seasonText).editable();
        $('#' + seasonDate).editable();

    }

    function getSubSeason(season) {

        var subSeasons = [];

        var seasonId = "season_" + season;
        var subSeasonCount = _.get(seasonTextCount, seasonId);

        for (j = 1; j <= subSeasonCount; j++) {

            var subName = $('#season_' + season + '_text_' + j).html();
            var date = $('#season_' + season + '_text_' + j + '_date').html();

            var subSeason = {
                name: subName,
                date: date
            };

            subSeasons.push(subSeason);
        }

        return subSeasons;
    }

    function getPricesForHouse(house) {
        var prices = [];

        for (var i = 1; i <= seasonCount; i++) {

            var price = $("#house_" + house + "_season_" + i + "_price").html();
            var name = $("#season_" + i).html();

            var priceObject = {
                season: name,
                price: price
            };

            prices.push(priceObject)

        }

        return prices;
    }

    function getHousesAndPrices() {
        var houses = [];

        for (var i = 1; i <= houseCount; i++) {

            var name = $("#house_" + i + "_type").html();
            var personCount = $("#house_" + i + "_person").html();

            var house = {
                name: name,
                personCount: personCount,
                prices: getPricesForHouse(i)
            };

            houses.push(house);
        }

        return houses;
    }

    function getSeasons() {

        var seasons = [];

        for (var i = 1; i <= seasonCount; i++) {

            var name = $('#season_' + i).html();
            var subSeasons = getSubSeason(i);

            var season = {
                name: name,
                "subSeasons": subSeasons
            };

            seasons.push(season);
        }


        return seasons;
    }

    function validate() {

        var maybeNumber = parseInt($("#number").val());

        return !isNaN(maybeNumber);
    }

    function getNumber() {
        return parseInt($("#number").val());
    }

    function createPageObj() {

        var pageObj = {
            number: getNumber(),
            title: $("#title").val(),
            region: $("#region").val(),
            slogan: $("#slogan").val(),
            house: $("#houseText").val(),
            forBabys: $("#babys").val(),
            babysExtend: $("#babysExtends").val(),
            babysPeriod: $("#babysPeriod").val(),
            forToddlers: $("#toddler").val(),
            toddlersExtend: $("#toddlerExtends").val(),
            toddlersPeriod: $("#toddlerPeriod").val(),
            forPreschool: $("#preschool").val(),
            preschoolExtend: $("#preschoolExtends").val(),
            preschoolPeriod: $("#preschoolPeriod").val(),
            forChildren: $("#children").val(),
            childrenExtend: $("#childrenExtends").val(),
            childrenPeriod: $("#childrenPeriod").val(),
            forTeenagers: $("#teenager").val(),
            teenagerExtend: $("#teenagerExtends").val(),
            teenagerPeriod: $("#teenagerPeriod").val(),
            nearby: $("#nearby").val(),
            foodAndBeverage: $("#foodAndBeverage").val(),
            sourroundings: $("#sourroundings").val(),
            sport: $("#sport").val(),
            pets: $("#pets").val(),
            travel: $("#travel").val(),
            priceStar: $("#priceStar").val(),
            minimumStay: $("#minimumStay").val(),
            priceIncluded: $("#priceIncluded").val(),
            careOffers: $("#careOffers").val(),
            seasons: getSeasons(),
            houses: getHousesAndPrices()

        };

        return pageObj;
    }

    function submitForm(e) {

        if(validate()) {
            var pageObj = createPageObj();
            var stringValue = JSON.stringify(pageObj);
            $("#page").val(stringValue);

            $("#pageForm").submit();
        } else {

            $.bootstrapGrowl("Es wurde keine gültige Nummer(ID) eingegeben.", {
                ele: 'body', // which element to append to
                type: 'danger', // (null, 'info', 'danger', 'success')
                offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
                align: 'right', // ('left', 'right', or 'center')
                width: 250, // (integer, or 'auto')
                delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
                allow_dismiss: true, // If true then will display a cross to close the popup.
                stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        }



    }
</script>
</body>
